.list {
	@apply flex items-center flex-nowrap py-3 overflow-x-scroll;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	.item {
		@apply transition-transform flex flex-col items-center justify-center shadow-lg 
    rounded-layout bg-blue-700 py-2 px-3 text-center mr-4 last:mr-0;
		flex: 0 0 auto;

		min-width: 200px;
		min-height: 64px;

		&:hover {
			transform: translateY(-5px);
			background: radial-gradient(
				129.83% 100% at 100% 0,
				#66677e 0,
				#39394f 100%
			);
		}

		.text {
			@apply text-blue-300 font-semibold text-shadow;
		}
	}
}
